<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jrk.mood4food">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.jrk.mood4food.App"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <activity android:name=".NavBarActivity" />
        <activity
            android:name=".home.view.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".waterbalance.view.WaterBalanceActivity" />
        <activity android:name=".waterbalance.view.WaterAnalysisActivity"/>
        <activity android:name=".settings.view.SettingsActivity" />
        <activity android:name=".settings.view.SetIngredientsActivity" />
        <activity android:name=".recipes.detail.view.DetailActivity"/>
        <activity android:name=".recipes.selection.view.SelectionActivity"/>
        <activity android:name=".recipes.add_mod.view.Add_ModActivity"/>
        <activity android:name=".settings.view.CalculationNeedsActivty"/>
        <activity android:name=".settings.view.ResultsCalculationActivity" />
        <activity android:name=".settings.view.EditGoalsActivity"/>
        <activity android:name=".TestActivity" />
        <activity android:name=".onboarding.view.OnboardingActivity"/>

    </application>

</manifest>